*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    height:auto;
    width: auto;
    background-color: #323846;
    border-radius: 20px;
    box-shadow:10px 10px 20px #323846; 
}
.sound{
    height: 50px;
    width: 60px;
    background-color: #5A6372;
    border-radius: 20px 20px 20px 0px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 12px;
}
.fa-solid{
    font-size: 24px;
    color: white;
}
.num{

    margin-top: 40px;
    margin-bottom: 18px;
    padding-right: 15px;
}
input{
    font-size: 24px;
    text-align: end;
    padding: 12px;
    color: #29313E;
    border-radius: 30px;
    border: 1px solid #D4761F;
    outline: none;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,68px);
    width:auto;
   margin:5px 10px 40px;
}
button{
    font-size: 20px;
    background-color: #29313E;
    color: #979AAB;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    border: none;
    box-shadow:
            -5px -5px 3px #323846,
            5px -5px 3px #29313E, 
            inset -5px -5px 3px #29313E,
            inset 5px 5px 3px #29313E; 
}
.zero{
    grid-column: span 2;
}
.orange{
    background-color: #D4761F;
    box-shadow:
    -5px -5px 3px #323846,
    5px -5px 3px #29313E, 
    inset -5px -5px 3px #D4761F,
    inset 5px 5px 3px #ec9f57; 
}
.grey{
    background-color: #64686e;  
    box-shadow:
            -5px -5px 3px #323846,
            5px -5px 3px #29313E, 
            inset -5px -5px 3px #64686e,
            inset 5px 5px 3px #64686e;  
}

.white{
    background-color: #CED6E2;
    filter:blur(100%);
    padding: 12px;
    box-shadow: none;
    position: absolute;
    top: 20px;
    border-radius: 12px;
}
a{
    font-size: 21px;
    text-decoration: none;
    color: #323846;
}